$accent: #E4B921;

@import "marble";

// Root
@import "templates/root";

// Landing
@import "templates/landing";

// Docs
@import "templates/docs";

// Search
@import "templates/search";

// Youtube embed
@import "youtube";

// Overrides
@import "overrides";